<body ng-controller="userController">
    <div class="container" ng-init="checkReset()">
        <div class="col-md-4">
            <div >
      <h3> {{reset_message}} </h3>
                <h4> Change Password </h4>
                <form name="userForm" class="well">
                    <!-- password1 -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid &&  submitted }">
                        <label>Password</label>
                        <input id="password" name="password" ng-model="fields.password" class="form-control" required type="password" />
                        <p ng-show="(userForm.password.$invalid && submitted) || noPassword" class="help-block">Password is required.</p>
                    </div>
                    <!-- password2 -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid &&  submitted }">
                        <label>Confirm Password</label>
                        <input name="passwordConfirm" ng-model="fields.passwordConfirm" class="form-control" required type="password" match="fields.password" />
                        <div ng-show="userForm.passwordConfirm.$error.mismatch">
                            <span class="msg-error">Passwords must match.</span>
                        </div>
                    </div>
                    <input type="button" ng-disabled="(userForm.$invalid && submitted) || userForm.passwordConfirm.$error.mismatch" value="Save Password" ng-click="reset_password()" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</body>
