<p>
    <input type="text" placeholder="Search..." ng-model="searchFor" size="20"/>
    <button type="button" class="btn btn-default" ng-show="isUserLoggedIn" ng-click="open()">Create New Event</button>  
  </p>

    <div  ng-controller="invitesController" ng-init="getEventList()">
                <div style="width: 250px; float: left; margin-right: 10px; padding:3px" ng-repeat="event in events | filter: { event_title: searchFor } | orderBy:'-_id'" class="panel panel-default">
                  <a href='/event/{{ event._id }}'>
                  <img src='/uploads/{{ event.event_image}}' height=120px width=240px> </br>
                  </a>
    <div style="padding-left:10px; padding-bottom:10px">
                        <h4><a href='/event/{{ event._id }}'> {{ event.event_title}} </a>  </h4> 
                        Date: {{ event.event_start | date1:'sdate' }} {{ event.event_time | date1:'stime' }} </br>
                        Location: {{ event.event_location}}<br>
                        Yeses: {{ events_yes_count[0][event._id] }}<br>
                        Comments: {{ events_comments_count[0][event._id] }} <br>
<button type="submit" class="btn btn-primary btn-xs" ng-if="logged_in_userid == event.event_creator" ng-click="deleteEventConfirm(event._id)">Delete Event</button>
           <button type="submit" class="btn btn-primary btn-xs" ng-show="showDeleteEvent && showDeleteEventid == event._id" ng-click="deleteEvent(event._id)">Confirm Delete</button>
                </div>
                </div>

<div>
<style type="text/css">
.modal.fade .modal-dialog {
    transform: translate(-50%, -80%);
}

.modal.in .modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
}

    </style>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Create New Event</h3>
        </div>
        <div class="modal-body">            
          
        <div class="well">
            <form name="eventForm">
        <div >

    <div class="row">
      <div class="col-md-6" style="padding-top: 10px;">
          <label>Event Date and Time</label>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-6">
<uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
      </div>
      </div>
      </div>





                <div class="form-group" ng-class="{ 'has-error' : eventForm.event_title.$invalid &&  submitted }">
                    <label>Event Title</label>
                    <input type="text" name="event_title" class="form-control input-md text-center" placeholder="Event Title" ng-model="formData.text" required>
                    <p ng-show="(eventForm.event_title.$invalid && submitted) || noEventTitle" class="help-block">Provide Event Title.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : eventForm.event_location.$invalid &&  submitted }">
                    <label>Event Location</label>
                    <input type="text" name="event_location" class="form-control input-md text-center" placeholder="Event Location" ng-model="formData.event_location" required>
                    <p ng-show="eventForm.event_location.$invalid && submitted" class="help-block">Provide Event Title.</p>
                </div>

           
    <fieldset>
      <br>Photo:
<label class="btn btn-default btn-file">Browse
      <input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required style="display: none;"
             ngf-resize="{width: 400, height: 200}"
             ngf-model-invalid="errorFile">
</label>
      <i ng-show="eventForm.file.$error.required">*required</i><br>
      <i ng-show="eventForm.file.$error.maxSize">File too large 
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="eventForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <button ng-disabled="!eventForm.$valid" 
              ng-click="uploadPic(picFile)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form>

        </div>    
     <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>    
</script>
</div>

