<section>
    <div class="container" ng-init="getEvent()" ng-controller="invitesController" ng-show="isEventCreator">
      <!--  <input type="button" value="Purchase" ng-click="wtf()" class="btn btn-primary btn-sm"  > -->
        <!-- HEADER AND TODO COUNT -->
        <div class="row">
            <div class="col-sm-5">
                <div class="well text-left" ng-if="eventEdit != 'YES'">
                    <h4><b>Group Name:</b> {{ event_data.event_title}}</h4>
                    <h4><b>SMS number:</b> {{event_data.event_twilio_number}} </h4>
                    <h4><b>Reply Setting:</b> {{event_data.event_reply_setting | rtext:'sdate'}} </h4>
                    <label ng-if="isUserLoggedIn">
                        <div ng-repeat="user in players_list">
                            <span ng-if="invite_code == user.invite_code && event_creator_id == user.user_id">
                    <input type="button" value="Edit Group" ng-click="editEvent()" class="btn btn-info btn-sm"  >
                        </span>
                        </div>
                    </label>
                </div>
                <div class="well text-left" ng-if="eventEdit == 'YES'">
                    <form class="form-inline" name="myForm">
                        <div class="form-group">
                            <label>Title </label>
                            <input type="text" name="event_title" class="form-control input-md text-left" value="event_data.event_title" ng-model="event_data.event_title" required>
                            <div role="alert">
                                <span class="error" ng-show="myForm.event_title.$error.required">
        Required</span>
                            </div>
<label>
    <input type="radio" ng-model="reply.value" value="reply_all" ng-change='newValue(reply.value)'>
    Reply All
  </label><br/>
  <label>
    <input type="radio" ng-model="reply.value" value="reply_me" ng-change='newValue(reply.value)'>
    Reply Me
  </label><br/>
                        </div>
                        </form>
                        <input type="button" value="Save Group" ng-disabled="(myForm.event_title.$dirty && myForm.event_title.$invalid) || (myForm.event_location.$dirty && myForm.event_location.$invalid)" ng-click="editEventSave()" class="btn btn-primary btn-sm">
                        <input type="button" value="Cancel" ng-click="cancelEditEvent()" class="btn btn-primary btn-sm">
                    </form>
                </div>
                <div ng-if="isMember" class="well">
                <form class="form-inline" name="myForm">
                  <div class="form-group">
                     <label for="disp">&nbsp;Name:</label>
                         <input type="text" id="disp" name="displayname" class="form-control input-sm text-center" placeholder="name" ng-model="formData.text" required>
                  </div>
                  <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="text" name="username" id="phone" class="form-control input-sm text-center" placeholder="4157771234" ng-model="formData.email" required>
                                <button type="submit" ng-disabled="myForm.displayname.$invalid ||  myForm.username.$invalid" class="btn btn-success btn-sm" ng-click="addPhone()">Add User</button>
                            </div>
                        </form>
                </div>
        <!-- <div class="col-md-6" ng-init="getInvites()"> -->
        <div class="well" >
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Phone</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tr ng-repeat="x in invites">
                    <td>{{ x.invited}}</td>
                    <td>{{ x.invited_phone}}</td>
                    <td>{{ x.invite_status}}</td>
                    <td>
<button type="submit" class="btn btn-warning btn-xs" ng-click="delete_sms_user_confirm(x._id)">Delete User</button>
           <button type="submit" class="btn btn-danger btn-xs" ng-show="showDeleteEvent && showDeleteEventid == x._id" ng-click="delete_sms_user(x._id)">Confirm Delete</button></td>
                </tr>
            </table>
        </div>
                <!-- ng-if="isMember" -->
    <div class="container" ng-hide="isUserLoggedIn" >
        <div class="col-md-4">
            <h4> Login to Join this Event </h4>
            <form name="userForm" class="well">
                <!-- EMAIL -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid &&  submitted }">
                    <label>Email</label>
                    <input type="email" class="form-control" name="username" ng-model="fields.username" required/>
                    <p ng-show="userForm.username.$invalid && submitted" class="help-block">Provide Valid Email.</p>
                </div>
                <!-- password1 -->
                <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid &&  submitted }">
                    <label>Password</label>
                    <input id="password" name="password" ng-model="fields.password" class="form-control" required type="password" />
                    <p ng-show="(userForm.password.$invalid && submitted) || noPassword" class="help-block">Password is required.</p>
                </div>
                <input type="button" value="Login" ng-click="loginEvent()" class="btn btn-primary" />
            </form>
            <h3> {{login_message}} </h3>
            <h4><a href="/register">Register</a> *  <a href="/password_reset">Reset Password</a>  </h4>
        </div>
      </div>
                <div ng-show="isUserLoggedIn" class="button-bar">
                  <div ng-hide="isMember" class="button-bar">
                    <!--  <input  class="btn btn-primary btn-lg {{(ustatus == 'Yes')}}" type="button" value="Yes" ng-click="invite_open( 'Yes')"> -->
                    <input ng-class="{'Yes':'btn-success', 1:'two',2:'three'}[ustatus]" type="button" value="Join Event" ng-click="joinEvent('Yes')" class="btn btn-default">
                 <!--   <input ng-class="{'No':'btn-danger', 1:'two',2:'three'}[ustatus]" type="button" value="No" ng-click="invite_open('No')" class="btn btn-default">
                      <input ng-class="{'Maybe':'btn-warning', 1:'two',2:'three'}[ustatus]" type="button" value="Maybe" ng-click="invite_open('Maybe')"> -->
                </div>
                </div>
                <!-- ng-if="newInvite" -->
                <div ng-if="changeSettingsAnon">
                    <form class="well" name="myForm">
                        <div class="form-group">
                            <label>Display Name</label>
                            <input type="text" name="displayname" value="invited.displayname" ng-model="invited.displayname" required/>
                            <span style="color:red" ng-show="myForm.displayname.$dirty && myForm.displayname.$invalid">
                                <span ng-show="myForm.displayname.$error.required">displayname is required.</span>
                            </span>
                            <br/>
                            <label>Receive rsvp updates:
                                <input type="checkbox" ng-model="checkboxModel.rsvp" ng-true-value="'YES'" ng-false-value="'NO'">
                            </label>
                            <br/>
                            <label>Receive comments from guest :
                                <input type="checkbox" ng-model="checkboxModel.comment_alert" ng-true-value="'YES'" ng-false-value="'NO'">
                            </label>
                            <br/>
                            <label ng-if="checkboxModel.rsvp == 'YES' || checkboxModel.comment_alert == 'YES'">Email:
                                <input type="email" name="username" value="invited.username" ng-model="invited.username" required/>
                                <div role="alert">
                                    <span class="error" ng-show="myForm.username.$error.required">
        Required!</span>
                                    <span class="error" ng-show="myForm.username.$error.email">
        Not valid email!</span>
                                </div>
                            </label>
                            </br>
                            <input type="button" value="Save your Event Settings" ng-click="addEvent(event_id, ustatus)" class="btn btn-primary" ng-disabled="(myForm.displayname.$pristine && myForm.displayname.$invalid) || (myForm.username.$pristine && myForm.username.$invalid)">
                        </div>
                    </form>
                </div>
                <!-- ng-if="showAcceptInvite" -->
                <div ng-if="showAcceptInvite">
                    <form class="well" name="form.myForm2">
                        <div class="form-group">
                            <label>Display Name</label>
                            <input type="text" name="displayname" value="invited.displayname" ng-model="invited.displayname" required/>
                            <span style="color:red" ng-show="form.myForm2.displayname.$dirty && form.myForm2.displayname.$invalid">
                                <span ng-show="form.myForm2.displayname.$error.required">displayname is required.</span>
                            </span>
                            <br/>
                            <label>Receive rsvp updates:
                                <input type="checkbox" ng-model="checkboxModel.rsvp" ng-true-value="'YES'" ng-false-value="'NO'">
                            </label>
                            <br/>
                            <label>Receive comments from guest :
                                <input type="checkbox" ng-model="checkboxModel.comment_alert" ng-true-value="'YES'" ng-false-value="'NO'">
                            </label>
                            <br/>
                            <label ng-if="checkboxModel.rsvp == 'YES' || checkboxModel.comment_alert == 'YES'">Email:
                                <input type="email" name="username" value="invited.username" ng-model="invited.username" required/>
                                <div role="alert">
                                    <span class="error" ng-show="form.myForm2.username.$error.required">
        Required!</span>
                                    <span class="error" ng-show="form.myForm2.username.$error.email">
        Not valid email!</span>
                                </div>
                            </label>
                            <input type="text" class="form-control input-lg text-center" placeholder="Add comment here" ng-model="formData.text">
                            <input type="button" value="Accept Invite" ng-click="addEvent(event_id, ustatus)" class="btn btn-primary" ng-disabled="(form.myForm2.displayname.$pristine && form.myForm2.displayname.$invalid) || (form.myForm2.username.$pristine && form.myForm2.username.$invalid)">
                        </div>
                    </form>
                </div>
                <!-- ng-if="showAcceptInvite" -->
                <div ng-if="changeSettings">
                    <form class="well" name="myForm">
                        <div class="form-group">
                            <label>Receive rsvp updates:
                                <input type="checkbox" ng-model="checkboxModel.rsvp" ng-true-value="'YES'" ng-false-value="'NO'">
                            </label>
                            <br/>
                            <label>Receive comments from guest :
                                <input type="checkbox" ng-model="checkboxModel.comment_alert" ng-true-value="'YES'" ng-false-value="'NO'">
                            </label>
                            <br/>
                            <input type="button" value="Save your Event Settings" ng-click="addEvent(event_id, ustatus)" class="btn btn-primary btn-sm">
                        </div>
                    </form>
                </div>
                <!-- ng-if="changeSettings" -->
            </div>
            <div class="col-sm-5">
<div>
                        <form name="smsForm">
                        <label>Message to be sent</label>
                                <input type="text"  name="message" class="form-control input-sm text-center" placeholder="message" ng-model="formData.message" required>
        <div role="alert">
      <span class="error" ng-show="myForm.message.$error.required">
        Required!</span>
    </div>

                         <!--   <button type="submit"  ng-disabled="(myForm.displayname.$pristine && myForm.displayname.$invalid) && (myForm.username.$pristine && myForm.username.$invalid)" class="btn btn-primary btn-sm" ng-click="addInvite()">Invite</button> -->

                            <button type="submit"   class="btn btn-success btn-sm" ng-click="sendSMS()" ng-disabled="smsForm.message.$invalid" >Send Text</button><br><small> First time users will receive message saying "Reply GETOUT to leave Group" </small> 
                        </form>
                            </div>
                <h3>Texts </h3>
                <div class="well well-sm" ng-repeat="comment in comments">
                  <div ng-if="comment.mms_image"> 
                     <a href="{{comment.mms_image}}" >
                     <img src="{{comment.mms_image}}" style="max-width:200px; max-height:200px; width:auto; height:auto;"  /> </a></div>
                    <span ng-if="comment.text"> "{{comment.text}}" </span> by <b>  {{comment.displayname}} </b>
                    <span ng-init="setthetime(comment._id, comment.created_at)"><timer ng-repeat="timer in timers | filter:{ invite_code: comment._id }  track by $index"> </timer></span>
                </div>
            </div>
        </div>
    </div>
</section>
